<!-- templates/routes/modals/delete_confirm_modal.html -->
<div class="modal fade" id="delete-confirm-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подтвердите удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить точку "<span id="delete-point-name">...</span>"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" id="confirm-delete-btn" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
</div>